.slider {
  margin: 90px auto;
  padding-left: 2vw;
  padding-right: 2vw;

  .slidercon {
    background-color: #ffffff;
    padding: 4px;
  }

  .info {
    background-color: #fff;
  }
  .control-dots {
    bottom: -30px !important ;
  }
}
