.slick-list {
  padding-left: 0px !important;
}

.slick-dots {
}

.slick-dots li {
  height: 9px !important;
  width: 45px;
  margin: 0;
}

.slick-dots li button {
  padding: 0;
  height: 9px;
  width: 45px;
  background-color: #777373;
}

.slick-dots .slick-active button {
  background-color: #09a9a9;
}

.slick-dots li button:before {
  display: none;
  padding: 0;
  height: 9px;
  color: red;
}

.slick-next {
  display: none !important;
}
